a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    transition: 0.1s font-weight;
    display: block;
    margin-bottom: 10px;
}
a:hover{
    font-weight: bold;
}